* {
    font-family: "Roboto", Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-links{
    display:flex;
    list-style-type: none;
    gap: 10px;

}
.header-links, .secondary-text {
    font-size: 18px;
    color: #E5E7EB;

}
.button{
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 6px;
    border-style: none;
    font-weight: 900;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.logo{
    font-size: 24px;
    color:#f9faf8;
}

.website-info{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
  
}

.signup{
    display:flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 100px;
}
.signup-image{
    max-width: fit-content;
    max-height: 300px;
    display:inline-block;
    border: solid #3882F6;
    border-radius: 40px;
    border-width: 7px;
    margin-bottom: 100px;
}

.signup-heading {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.content{
    padding-left: 200px;
    padding-right: 200px;
}
ul .header-links{
    margin:0;
    padding:0;
}

.infobox-image{
    max-width: 300px;
    border-radius: 40px;
    border-color: #3882F6;
    border-width: 7px;
    border-style: solid;
}

.info-heading{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 32px;
    margin-top: 32px;
}

.infobox{

}

.information-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex:auto;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-section{
    background-color: #E5E7EB;
 

}

.author {
    text-align: right;
    font-weight: bold;
    margin-bottom: 100px;
}
.quote-content{
    margin-top: 100px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}