* {
    font-family: "Roboto", Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-links{
    display:flex;
    list-style-type: none;
    gap: 10px;

}

.website-info{
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1F2937;
    color: #f9faf8;
}
ul .header-links{
    margin:0;
    padding:0;
}